body {
  font-size: 62.5%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.no-focus-outline a:focus,
.no-focus-outline button:focus,
.no-focus-outline input:focus,
.no-focus-outline select:focus {
  outline: none;
}

canvas.chart {
  display: block;
  margin: 0 auto;
  width: 25rem;
  height: 25rem;
}

div.chart {
  position: relative;
  margin: auto;
}

.chart h2 {
  text-align: center
}

.palette {
  width: 100%;
  height: 5rem;
}

.params h4 {
  display: inline-block;
}

/* #charts {
  display: flex;
  flex-flow: row nowrap;
}

.params {
  width: 20rem;
}

.param div {
  flex-grow: 1;
}

.param input {
  width: 90%;
}

.param select {
  width: 90%; 
}

.block-param{
  display: block;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

.flex-col {
  display: col;
  flex-flow: column nowrap;
} */