body {
  font-size: 62.5%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.charts {
  display: flex;
  flex-flow: row nowrap;
}

canvas.chart {
  display: inline-block;
  width: 20rem;
  height: 20rem;
  // border: .1rem solid black;
}

div.chart {
  display: inline-block;
  margin: .5rem;
}