@import './custom';
@import '~bootstrap/scss/bootstrap';

body, #root {
  margin: 0;
  padding: 0;
}

#export-canvas {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 30rem;
}

canvas.chart {
  display: block;
  margin: 0 auto;
  width: 20rem;
  height: 20rem;
}

#canvas-banner {
  padding-top: 0;
  margin-top: 0;
  width: 100%;
  display: block;
  height: 1rem;
}

.palette-wrapper {
  z-index: 1;
  margin: 10px 0px 10px 0px;
  border-radius: 4px;
  padding: 15px;
  background-color: white;
}

.chart-wrapper {
  margin: 0;
  border-radius: 4px;
  background-color: white;
  padding: 15px
}

div.chart {
  position: relative;
}

.chart h2 {
  text-align: left;
}

.palette {
  width: 100%;
  height: 75px;
}

.pinned-switch {
  margin-bottom: 0.5rem;
}

form {
  margin-top: 1rem;
}

.nav-link {
  border: none;
  background: #f8f9fa;
}

button:focus {
  outline: none;
}